@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MySCG';
    src: url('font/SCG-REG.OTF') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'MySCG';
    src: url('font/SCG-BOL.OTF') format('opentype');
    font-weight: bold;
}

.font-regular {
    font-family: 'MySCG', sans-serif;
    font-weight: normal;
}

.font-bold {
    font-family: 'MySCG', sans-serif;
    font-weight: bold;
}

/* Define font size adjustments */
.font-size-lg {
    font-size: 1.25rem; /* Example size, adjust as needed */
}

.font-size-xl {
    font-size: 1.5rem; /* Example size, adjust as needed */
}
